@model RelaywareBuddy.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="col-md-8">


    <div class="col-md-12">

        @Html.Partial("_Ticket", Model.ticket)

    </div>

    <div class="col-md-12">

        @Html.Partial("_CustomerAccess", Model.customerAccess)

    </div>

    <div class="col-md-12">

        @Html.Partial("_CreateCustomerAccess", Model.newCustomerAccess)
        
    </div>

    <div class="col-md-12">

        @Html.Partial("_Customer", Model.customer)

    </div>

    <div class="col-md-12">

        @Html.Partial("_CreateCustomer", Model.customer)

    </div>

</div>

<div class="col-md-4">

    <div class="col-md-12">

        @Html.Partial("_Timer", Model.timer)

    </div>


</div>

